<p>This is a test form</p>
<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDate" formControlName="startDate" required (dateChange)="datesChanged()"
            disabled>
        <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDate disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName="endDate" required (dateChange)="datesChanged()"
            disabled>
        <mat-datepicker-toggle [for]="endDate" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #endDate disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Period Increment</mat-label>
        <mat-select formControlName="periodIncrement" required>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let option of periodIncOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>